<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <context:component-scan base-package="ru.otus" />
    <context:annotation-config/>
    <context:spring-configured/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:springConf.properties"/>
    </bean>



    <bean id="cache" class="ru.otus.softcache.SoftCache">
         <constructor-arg name="idleTimeMs" value="${cache.idleTimeMs}"/>
         <constructor-arg name="isEternal" value="${cache.isEternal}"/>
         <constructor-arg name="lifeTimeMs" value="${cache.lifeTimeMs}"/>
         <constructor-arg name="maxElements" value="${cache.maxElements}"/>
     </bean>
     <bean id="dbServise" class="ru.otus.cachedDBservice.CachedDbService">
         <constructor-arg ref="cache"/>
     </bean>
    <!--<bean id="authService" class="ru.otus.servlets.service.AuthService"/>-->
    <bean id="testClass" class="ru.otus.servlets.TestClass" init-method="configDb"/>
<!--
    <bean id="sampleServlet" class="ru.otus.servlets.SampleServlet" />
-->

</beans>